.list {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}
.list-nav {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
.nav-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    color: #2E2F42;
    text-decoration: none;
  }
  a.nav-button:hover, a.nav-button:active, a.nav-button:focus {
    color: #404BBF;
  }
a.contact-text:hover, a.contact-text:active, a.contact-text:focus {
    color: #404BBF;
  }
.main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    color:#FFF;
  }
.main-title-background {
    background-color: #2E2F42;
    height: 600px;
    text-align: center;
    justify-content: center;
  }
.team {
  background-color: #F4F4FD;
}
.section, .team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section1 {
  padding-top: 120px;
}
.container, .header-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1158px;
}
.header-container {
  border-bottom: 1px solid #E7E9FC;
  height: 72px;
  width: 1440px;
}
.footer-container {
    width: 264px;
}
.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #2E2F42;
  text-decoration: none;
  margin-left: 156px;
  margin-right: 76px;
}
.logo-footer {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #F4F4FD;
  text-decoration: none;
  margin-left: 156px;
}
.contact {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  font-style: normal;
  color: #434455;
  text-decoration: none;
  display: inline-flex;
  gap: 40px;
  margin-left: auto;
  margin-right: 156px;
}
.contact-text {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  font-style: normal;
  color: #434455;
  text-decoration: none;
}
.title {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    color: #FFF;
    display: none;
  }
.title-3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;

  }
.subtitle-3 {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    color: #434455
  }
.footer-text {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    color: #F4F4FD;
    margin-left: 156px;
  }
.footer {
    background-color: #2E2F42;
    height: 312px;
}
.button-blue {
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    background: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
  }
.button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    background: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    text-align: center;
    color: #4D5AE5;
    cursor: pointer;
  }
.button:hover, .button:active, .button:focus {
    background-color: #404BBF;
  }
  .button-order {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4D5AE5;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  }
.button-order:hover, .button-order:active, .button-order:focus {
      background-color: #404BBF;
  }
.subtitle-2 {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}