.logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
  }
.logo-footer {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #F4F4FD;
    text-decoration: none;
  }
.list {
    list-style-type: none;
}
.nav-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    color: var(--navyblue, #2E2F42);
    text-decoration: none;
  }
  a.nav-button:hover, a.nav-button:active, a.nav-button:focus {
    color: #404BBF;
  }
  .contact {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    font-style: normal;
    color: var(--slate, #434455);
    text-decoration: none;
  }
a.contact:hover, a.contact:active, a.contact:focus {
    color: #404BBF;
  }
.main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    text-align: center;
    color:#FFF;
  }
.main-title-background {
    background-color: #2E2F42
  }
.team {
  background-color: #F4F4FD;
}
.title {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    color: #FFF
  }
.title-3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;

  }
.subtitle-3 {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    color: #434455
  }
.footer-text {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    color: #F4F4FD;
  }
.footer {
    background-color: #2E2F42;
}
.button-blue {
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    text-align: center;
    color: var(--white, #FFF);
    cursor: pointer;
  }
.button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    text-align: center;
    color: var(--iris, #4D5AE5);
    cursor: pointer;
  }
.button:hover, .button:active, .button:focus {
    background-color: #404BBF;
  }
  .button-order {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    text-align: center;
    color: var(--white, #FFF);
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  }
.button-order:hover, .button-order:active, .button-order:focus {
      background-color: #404BBF;
  }
.subtitle-2 {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}