.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #2E2F42;
  text-decoration: none;
  margin-left: 156px;
  margin-right: 76px;
}
.logo-footer {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #F4F4FD;
  text-decoration: none;
  margin-left: 156px;
}
.list-nav {
  list-style-type: none;
  display: inline-flex;
  gap: 40px;
}
.nav-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: #2E2F42;
  text-decoration: none;
}
a.nav-button:hover, a.nav-button:active, a.nav-button:focus {
    color: #404BBF;
}
a.contact-text:hover, a.contact-text:active, a.contact-text:focus {
    color: #404BBF;
}
.contact {
    display: inline-flex;
    align-items: flex-end;
    gap: 40px;
    margin-left: auto;
    margin-right: 156px;
}
.contact-text {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    font-style: normal;
    color: #434455;
    text-decoration: none;
}
.main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
    color:#FFF;
    padding-top: 188px;
    width: 496px;
    height: 120px;
}
.main-title-background {
    background-color: #2E2F42;
    height: 600px;
    text-align: center;
    justify-content: center;
}
.container, .header-container, .team-photos {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1416px;
}
.header-container {
  border-bottom: 1px solid #E7E9FC;
  height: 72px;
  width: 1440px;
}
.team-photos {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
}
.team {
  background-color: #F4F4FD;
}
.employer-name {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 264px;
  background-color: #FFF;
  border-right: 1px solid #E7E9FC;
  border-bottom: 1px solid #E7E9FC;
  border-left: 1px solid #E7E9FC;
  padding-top: 32px;
  padding-bottom: 32px;
}
.section, .team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-1 {
  padding-top: 120px;
}
.title {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    color: #FFF;
    display: none;
}
.title-3, .title-4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;
}
.title-4 {
    line-height: 4px; /* 120% */
}
.subtitle-3, .subtitle-4 {
    font-size: 16px;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    color: #434455
}
.subtitle-4 {
    line-height: 4px; /* 150% */
}
.subtitle-2 {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}
.button-blue {
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    background: #404BBF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}
.button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    background: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    text-align: center;
    color: #4D5AE5;
    cursor: pointer;
}
.button:hover, .button:active, .button:focus {
    background-color: #404BBF;
}
  .button-order {
    display: inline-flex;
    padding: 16px 32px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4D5AE5;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-order:hover, .button-order:active, .button-order:focus {
      background-color: #404BBF;
}
.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.list-2 {
  list-style-type: none;
  display: inline-flex;
  justify-content: center;
  column-gap: 24px;
}
.footer-container {
    padding-top: 101.5px;
    padding-bottom: 100px;
}
.footer-text {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: #F4F4FD;
  margin-left: 156px;
  width: 264px;
  height: 72px;
}
.footer {
  background-color: #2E2F42;
  height: 312px;
}