:root {
  --color-logo: #2E2F42;
  --color-logo-blue: #4D5AE5;
  --color-logo-footer: #F4F4FD;
  --color-nav-button: #2E2F42;
  --color-contact-text: #434455;
  --color-border: #E7E9FC;
  --color-border-2: #8E8F99;
  --color-text: #2E2F42;
  --color-text-1: #434455;
  --background: #2E2F42;
  --background-1: #F4F4FD;
  --background-2: #FFF;
  --box-shadow: rgba(46, 47, 66, 0.08) ;
  --box-shadow-2: rgba(46, 47, 66, 0.16);
  --color-main-title: #FFF;
  --color-button-order: #4D5AE5;
  --color-button: #F4F4FD;
  --color-button-text: #4D5AE5;
  --color-button-order-text: #FFF;
  --color-button-hover: #404BBF;
  --color-button-shadow: rgba(0, 0, 0, 0.12);
  --color-button-shadow-1: rgba(0, 0, 0, 0.08);
  --color-button-shadow-2: rgba(0, 0, 0, 0.10);
  --color-button-shadow-3: rgba(0, 0, 0, 0.15);
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
ul, 
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p
 {
  margin: 0;
}
.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  align-items: center;
  height: 72px;
}
.header {
  border-bottom: 1px solid var(--color-border);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-features {
  padding-top: 120px;
  padding-bottom: 0px;
}
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.visually-hidden {
  position:absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.logo {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--color-logo);
  margin-right: 76px;
}
.logo-footer {
  font-family: var(--secondary-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--color-logo-footer);
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: var(--color-nav-button);
  text-decoration: none;
}
a.nav-button:hover, a.nav-button:active, a.nav-button:focus {
  color: var(--color-button-hover);
}
a.contact-text:hover, a.contact-text:active, a.contact-text:focus {
  color: var(--color-button-hover);
}
.contact {
  display: flex;
  gap: 40px;
  margin-left: auto;
}
.contact-text {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  font-style: normal;
  color: var(--color-contact-text);
}
.main-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
  color:var(--color-main-title);
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.main-title-background {
  background-color: var(--background);
  height: 600px;
  text-align: center;
  padding: 188px 0;
  min-width: 1158px;
}
.button-blue {
  padding: 12px 24px;
  border-radius: 4px;
  background: var(--color-button-hover);
  box-shadow: 0px 2px 2px 0px var(--color-button-shadow), 0px 2px 1px 0px var(--color-button-shadow-1), 0px 3px 1px 0px var(--color-button-shadow-2);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  text-align: center;
  color: var(--color-button-order-text);
  cursor: pointer;
}
.button {
  display: inline-flex;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  background-color: var(--color-button);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  text-align: center;
  color: var(--color-button-text);
  cursor: pointer;
}
.button:hover, .button:active, .button:focus {
  background-color: var(--color-button-hover);
  box-shadow: 0px 2px 2px 0px var(--color-button-shadow), 0px 2px 1px 0px var(--color-button-shadow-1), 0px 3px 1px 0px var(--color-button-shadow-2);
  border: 1px solid var(--color-button-hover);
  color: var(--color-button-order-text);
}
.button-order {
  display: inline-flex;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  background-color: var(--color-button-order);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  text-align: center;
  color: var(--color-button-order-text);
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px var(--color-button-shadow-3);
}
.button-order:hover, .button-order:active, .button-order:focus {
  background-color: var(--color-button-hover);
}
.main-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.social-media-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
  margin-top: 8px;
}
.social-media-list-2 {
  display: flex;
  justify-content: center;
  column-gap: 16px;
  flex-wrap: wrap;
  row-gap: 48px;
  margin-top: 16px;
}
.social-media-text {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: var(--color-logo-footer);
  font-weight: 500;
}
.title-2 {
  font-family: var(--main-font);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.button-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
  margin-bottom: 72px;
}
.card-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}
.card-list-shadow:hover {
  box-shadow: 0px 2px 1px 0px var(--box-shadow), 0px 1px 1px 0px var(--box-shadow-2), 0px 1px 6px 0px var(--box-shadow);
}
.features-list {
  display: flex;
  column-gap: 24px;
}
.card-border {
  border-left: 1px solid var(--color-border); 
  border-bottom: 1px solid var(--color-border); 
  border-right: 1px solid var(--color-border);
  padding: 32px 16px;
}
.team {
  background-color: var(--background-1);
  padding-top: 120px;
  padding-bottom: 120px;
  min-width: 1158px;
}
.team-box {
  box-shadow: 0px 2px 1px 0px var(--box-shadow), 0px 1px 1px 0px var(--box-shadow-2), 0px 1px 6px 0px var(--box-shadow);
 }
.employer-name {
  text-align: center;
  background-color: var(--background-2);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  padding: 32px 0;
}
.features-icons {
  text-align: center;
  background-color: var(--background-1);
  padding: 24px 0;
  margin-bottom: 8px;
  border-radius: 4px;
}
.social-media-svg {
  width: 40px;
  height: 40px;
}
.client-icons {
  display: flex;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--color-border-2);
}
.features-title, .card-title, .employer-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.features-text, .card-text, .employer-text {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: var(--color-text-1);
}
.footer {
  background-color: var(--background);
  padding: 100px 0;
  min-width: 1158px;
  height: 312px;
}
.footer-text {
  font-size: 16px;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  color: var(--color-logo-footer);
  width: 264px;
  height: 72px;
  margin-top: 16px;
  margin-right: 120px;
}